---
import ClientButton from "@/components/ClientButton";
import ServerButton from "@/components/ServerButton.astro";
import Layout from "@/layouts/Layout.astro";
import PageTitle from "@/components/PageTitle.astro";
import Caroussel from "@/components/Caroussel.astro";

const title = "Home Page";

export const prerender = true;
---
<Layout title={title}>
	<PageTitle>{title}</PageTitle>

	<Caroussel />

	<h2 class="text-2xl">Client Button</h2>
	<!-- <ClientButton client:load>
		<p class="text-gray-50">Client Button</p>
	</ClientButton> -->

	<h2 class="text-2xl">Server Button</h2>
	<ServerButton>Server Button</ServerButton>
</Layout>
