<div class="flex flex-wrap w-[420px] gap-4 h-[420px]">
	<div class="w-[200px] h-[200px] rounded-2xl animate-pulse bg-gray-200"></div>
	<div class="w-[200px] h-[200px] rounded-2xl animate-pulse bg-gray-200"></div>
	<div class="w-[200px] h-[200px] rounded-2xl animate-pulse bg-gray-200"></div>
	<div class="w-[200px] h-[200px] rounded-2xl animate-pulse bg-gray-200"></div>
</div>