---
import Image from "astro/components/Image.astro";
import IphoneImg from "@/assets/iphone-variant.webp";
import MotorolaImage from "@/assets/motorola-variant.webp";
import SamsungImage from "@/assets/samsung-variant.webp";
import XiaomiImage from "@/assets/xiaomi-variant.webp";
---

<style>
	.blurred-img {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		overflow: hidden;
		filter: blur(8px);
	}

	.blurred-img::before {
		content: "";
		position: absolute;
		inset: 0;
		animation: shimmer 2.5s infinite;
		border-radius: 1rem;
		width: 80%;
		margin: 0 auto;
		z-index: 2;
	}

	.blurred-img img {
		opacity: 0;
		transition: opacity 250ms ease-in-out;
		z-index: 1;
	}

	.loaded {
		filter: none;
	}

    .loaded img {
		opacity: 1;
	}

	.loaded::before {
		animation: none;
		content: none;
	}
	
	@keyframes shimmer {
		0% {
			background-color: rgba(255, 255, 255, 0);
		}

		50% {
			background-color: #d3d3d3a1;
		}

		100% {
			background-color: rgba(255, 255, 255, 0);
		}
	}
</style>

<div 
	class="blurred-img"
	style="background-image: url(src/assets/iphone-variant-small.webp);"
>
	<Image
		src={IphoneImg}
		width={200}
		height={200}
		alt="Imagem de um iphone"
		loading="lazy"
	/>
</div>

<div 
	class="blurred-img"
	style="background-image: url(src/assets/motorola-variant-small.webp);"
>
	<Image
		src={MotorolaImage}
		width={200}
		height={200}
		alt="Imagem de um motorola"
		loading="lazy"
	/>
</div>
<div 
	class="blurred-img"
	style="background-image: url(src/assets/samsung-variant-small.webp);"
>
	<Image
		src={SamsungImage}
		width={200}
		height={200}
		alt="Imagem de um samsung"
		loading="lazy"
	/>
</div>
<div 
	class="blurred-img"
	style="background-image: url(src/assets/xiaomi-variant-small.webp);"
>
	<Image
		src={XiaomiImage}
		width={200}
		height={200}
		alt="Imagem de um xiaomi"
		loading="lazy"
	/>
</div>

<script>
	// @ts-nocheck
	const blurredDivs = document.querySelectorAll(".blurred-img");
	blurredDivs.forEach(div => {
		const img = div.querySelector("img");
	
		const loaded = () => {
			div.classList.add("loaded");
			div.style.background = "transparent";
		}
	
		if (img?.complete) {
			loaded();
		} else {
			img?.addEventListener("load", loaded);
		}
	});

</script>