<article class="c-social-card">
	<h1 class="c-social-card__name">Fulano de Talz</h1>

	<img 
		src="" 
		alt=""
		width="80"
		height="80"
		class="c-social-card__picture"
	>

	<address class="c-social-card__address">Av. Whatever Etc e Talz</address>

	<aside>
		<button>Follow</button>
		<button>Message</button>
	</aside>
</article>

<style>
	.c-social-card {
		align-items: center;
		background-color: #fff;
		box-shadow: 0 1.1px 2.2px rgba(0, 0, 0, 0.07);
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
	}

	.c-social-card__picture {
		border-radius: 9999px;
		outline: 1px solid gainsboro;
		order: -1;
	}

	.c-social-card__name {
		font-family: "Oswal", sans-serif;
		font-size: 3.25rem;
		margin: 0.75rem 0 0;
		text-align: center;
	}

	.c-social-card__address {
		background-color: #f2f2f2;
		font-size: 0.875rem;
		font-style: normal;
		margin: 0.75rem 0;
		padding-left: 1.25rem;
	}
</style>