<header class="bg-gray-950 p-6 rounded-b-2xl">
	<nav>
		<ul class="flex w-full justify-evenly">
			<li class="text-gray-50">
				<a href="/">Home</a>
			</li>
			<li class="text-gray-50">
				<a href="/about">About</a>
			</li>
		</ul>
	</nav>
</header>